@import "../../styles/variables.scss";

.selection {
  display: flex;
  align-items: center;
  gap: 20px;
  font-size: 20px;

  &__select {
    height: 45px;
    width: 300px;
    font-family: inherit;
    font-size: 18px;
    background-color: $grayColor;
    border: 2px solid $hoverColor;
    border-radius: 8px;
    padding: 10px;
    text-transform: capitalize;

    transition: border-color 0.3s;

    &:active, &:focus {
      border-color: $pressedColor;
    }
  }
}
