@import "../../styles/variables.scss";

.modal {
  position: fixed;
  top: 7%;
  max-height: 500px;
  background-color: $pressedColor;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  box-sizing: border-box;
  padding: 35px 30px;
  border-radius: 10px;
  border: 2px solid $blackColor;
  overflow-y: auto;

  & p {
    color: $lightBlueColor;
  }

  &__wrapper {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 20px;
  }

  &__button {
    border-radius: 50%;
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1.5px solid $blackColor;
    background-color: $grayColor;

    transition: transform 0.3s;

    &:hover {
      cursor: pointer;
      transform: scale(1.1);
    }
  }

  &__close {
    width: 20px;
  }

  &__list {
    margin-bottom: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 15px;

    & li {
      color: $lightBlueColor;
    }
  }
}
